@font-face {
    font-family: Minecraft;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    src: url("./fonts/Minecraft/Minecraft.ttf");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 15rem;
    padding-bottom: 20rem;
    background-color: #2D3250;
    padding: 1rem;
    -webkit-app-region: no-drag;
}

#action-menu {
    position: absolute;
    top: 0;
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #424769;
    border-bottom: 1px solid #7077A1;
    -webkit-app-region: drag;
}

#app-icon {
    margin-left: 0.3rem;
    height: 1.4rem;
    width: 1.4rem;
}

#close-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Minecraft;
    font-size: 1.5rem;
    text-align: center;
    color: #2D3250;
    border-color: #7077A1;
    border-width: 1px;
    background-color: transparent;
    border-radius: 0.2rem;
    border-style: solid;
    cursor: pointer;
    margin-right: 0.3rem;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    transition: 0.2s;
    -webkit-app-region: no-drag;
}

#close-button:hover {
    background-color: #ff6060;
    border-color: #ff6060;
    transition: 0.2s;
}

.counter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
    margin-top: 2.2rem;
    transition: all 0.3s ease;
    -webkit-app-region: no-drag;
}

.counter-expanded {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    height: 15rem;
    width: 100%;
    margin-top: 2.2rem;
    transition: all 0.3s ease;
    -webkit-app-region: no-drag;
}

.counter-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #424769;
    border: 1px solid #7077A1;
    text-align: center;
    border-radius: 1rem;
    transition: 0.2s ease-out;
}

.counter-child:hover {
    background-color: #7077A1;
    color: #2D3250;
    transition: 0.2s;
}

input {
    color: #7077A1;
    font-family: Minecraft;
    font-size: 2.5rem;
    overflow: hidden;
    margin: 0;
    stroke-linecap: unset;
    transition: 0.2s;
}

input:focus {
    outline: none;
}

#menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background: none;
    border: none;
}

.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #424769;
    border: 1px solid #7077A1;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #7077A1;
    font-family: Minecraft;
    font-size: 1.5rem;
    height: 100%;
}

.menu-button:hover {
    background-color: #7077A1;
    color: #2D3250;
    transition: 0.2s;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    height: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}